* {
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
a {
    text-decoration: none;
}
:root {
    --primary-color: #1ebfc1;
}
.btn {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    min-width: 186px;
    padding: 20px 41px 21px;
    border-radius: 14px;
    background: #2ac9bf;
    border: 1px solid var(--primary-color);
}
.btn:hover {
    background: #fff;
    color: var(--primary-color);
    background-color: #fff;
    transition: 0.6s ease-in-out;
}
.label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}
.label.lv1 {
    font-size: 1.4rem;
    font-weight: 400;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.break-all {
    word-break: break-all;
}
/* Header */
.header {
    background-color: #ffffff;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 15px;
}
.header.fixed {
    position: sticky;
    z-index: 1;
    top: -35px;
}
.header .body .nav-list {
    display: flex;
    margin-left: 235px;
}
.header .body .nav-list a {
    padding: 8px 19px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}
.header .body .nav-list li.active a,
.header .body .nav-list a:hover,
.header .body .action-link:hover {
    transition-duration: 0.3s;
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .body .action {
    margin-left: auto;
}
.header .body .action-link {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 24px;
}
.header .body .action-btn {
    padding: 12px 24px;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 108px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}
.header .body .action-btn:hover {
    transition: 0.6s ease-in-out;
    background-color: var(--primary-color);
    color: #fff;
}
/* Hero */
.hero {
    padding: 40px 0 79px;
}
.hero .body {
    display: flex;
    justify-content: space-between;
}
.hero .content-block {
    margin-top: 93px;
    width: 39%;
}
.hero .content-block .hero-title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}
.hero .content-block .desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    width: 374px;
}
.hero .content-block .hero-cta {
    margin-top: 52px;
}
.hero .content-block .hero-btn {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero .content-block .watch-video {
    cursor: pointer;
    margin-left: 50px;
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.07);
    color: var(--primary-color);
}
.hero .content-block .watch-video:hover {
    transition: 0.6s ease-in-out;
    background-color: var(--primary-color);
    color: #fff;
}
.hero .media-block {
    position: relative;
}
.hero .media-block .hero-image {
    width: 576px;
    height: 631px;
    object-fit: cover;
}
.hero .media-block .courses-block {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18px 25px;
    top: 150px;
    right: 459px;
    width: 157px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .media-block .courses-block::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    bottom: 26px;
    left: 29px;
    border-radius: 18px;
    background: #fff;
}
.hero .media-block .courses-block .course-title {
    position: relative;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}
.hero .media-block .schedules-block {
    position: absolute;
    padding: 16px 25px 23px;
    bottom: 46px;
    right: 517px;
    width: 124px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .media-block .schedules-block .schedules-title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
.hero .schedules-list .schedules-icon1 {
    margin-top: 16px;
}
.hero .schedules-list .schedules-icon2 {
    margin-top: 12px;
}
.hero .schedules-list .schedules-icon3 {
    margin-top: 10px;
}
.hero .schedules-list .schedules-icon4 {
    display: block;
    margin: 16px auto 0;
}
.hero .students-block {
    position: absolute;
    padding: 17px 35px;
    width: 207px;
    height: 90px;
    bottom: 41px;
    right: 45px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .students-block .students-title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}
.hero .students-list {
    display: flex;
    margin-top: 8px;
}
.hero .students-list .avatar-icon {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    object-fit: cover;
    margin-left: -7px;
}
.hero .avatar-icon.no-lines {
    margin-left: 0;
}
.hero .avatar-qty {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    margin-left: -7px;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
/* Features */
.features {
    padding: 79px 0;
    margin-top: 51px;
}
.features .features-content {
    width: 50%;
}
.features .features-title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}
.features .features-desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}
.features .features-list {
    margin-top: 80px;
    display: flex;
    gap: 200px;
}
.features .features-item {
    width: 224px;
}
.features .features-item .sub-title {
    margin: 26px 0 16px 0;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}
.features .features-item .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6875;
}
/* Courses */
.courses {
    padding: 60px 0;
    margin-top: 40px;
}
.courses .courses-title {
    margin-top: 1.8rem;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}
.courses .courses-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}
.courses .courses-desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    width: 525px;
}
.courses .courses-link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}
.courses .courses-list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}
.courses .courses-item {
    position: relative;
    width: 33.3%;
}
.courses .courses-item .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.65;
    background: #d0efed;
    overflow: hidden;
}
.courses .courses-item .thumb:hover {
    transition: 0.3s;
    opacity: 0.9;
}
.courses .courses-item .info {
    position: absolute;
    top: 322px;
    right: 17px;
    left: 17px;
    padding: 18px 35px 29px 25px;
    width: 325px;
    border-radius: 8px;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
}
.courses .courses-item .info:hover {
    /* box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05); */
    cursor: pointer;
}
.courses .info .sub-title a {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .info .courses-price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}
.courses .info strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .info .info-desc {
    margin-top: 8px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}
.courses .courses_number-time {
    margin-top: 18px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 16px;
}
.courses .courses-qty {
    position: relative;
}
.courses .courses-time {
    position: relative;
    margin-left: 20px;
}
.courses .courses-time::before,
.courses .courses-qty::before {
    position: absolute;
    top: 7px;
    left: -15px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 50%;
}
/* Stats */
.stats {
    padding: 79px 0;
    margin-top: 177px;
}
.stats .stats-list {
    display: flex;
    justify-content: center;
    gap: 195px;
}
.stats .stats-item .qty {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}
.stats .stats-item .qty-desc {
    margin-top: 13px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}
/* Feedback */
.feedback {
    padding: 79px;
    margin-top: 185px;
}
.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
}
.feedback-item .feedback-info {
    width: 40%;
}
.feedback-list .feedback-item blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}
.feedback-item .feedback-label {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}
.feedback-item .feedback-label strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}
.feedback-item .control {
    display: flex;
    margin-top: 52px;
    gap: 30px;
}
.feedback .control-btn {
    border: 1px solid var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    color: #fff;
}
.feedback .control-btn:hover {
    cursor: pointer;
    background: #fff;
    color: var(--primary-color);
}
.feedback-img {
    position: relative;
    width: 679px;
    height: 481px;
}
.feedback-img .avatar {
    position: absolute;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-img .avatar-icon-1 {
    left: 273px;
    top: 107px;
    width: 235px;
    height: 235px;
}
.feedback-img .avatar-icon-2 {
    left: 144px;
    top: 0;
    width: 92px;
    height: 92px;
}
.feedback-img .avatar-icon-3 {
    bottom: 145px;
    left: 0;
}
.feedback-img .avatar-icon-4 {
    bottom: 0;
    left: 212px;
}
.feedback-img .avatar-icon-5 {
    bottom: 29px;
    right: 32px;
}
.feedback-img .avatar-icon-6 {
    bottom: 352px;
    right: 0;
    width: 110px;
    height: 110px;
}
/* Cta */
.cta {
    margin-top: 51px;
    padding: 76px 289px 88px 135px;
    background: #def6f5;
}
.cta .cta-body {
    display: flex;
    align-items: center;
    gap: 410px;
}
.cta .cta-title {
    width: 420px;
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}
.cta .cta-desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}
/* .cta .cta-btn {
    margin-left: 451px;
} */
.cta .cta-btn:hover {
    background: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/* Footer */
.footer {
    padding: 130px 135px 0 135px;
}
.footer-row {
    display: flex;
    gap: 144px;
}
.footer-row .footer-title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}
.footer-row .footer-list a {
    display: inline-block;
    margin-top: 25px;
    color: #535353;
    font-size: 1.58rem;
    font-weight: 400;
}
.footer-row a.footer-social {
    display: flex;
    gap: 9px;
    align-items: center;
    margin-top: 18px;
}
.footer .copyright {
    margin-top: 80px;
    padding-bottom: 50px;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}
